[submodule "firmware"]
	path = firmware
	url = https://github.com/Legohead259/MicroROS-ESC-Firmware
[submodule "hardware"]
	path = hardware
	url = https://github.com/Legohead259/Micro-ROS-ESC-Hardware
[submodule "workspace"]
	path = workspace
	url = https://github.com/Legohead259/ROS2-Micro-ROS-ESC-Workspace
