[submodule "firmware"]
	path = firmware
	url = https://github.com/Legohead259/OlympianESC-Firmware
[submodule "hardware"]
	path = hardware
	url = https://github.com/Legohead259/OlympianESC-Hardware
[submodule "workspace"]
	path = workspace
	url = https://github.com/Legohead259/OlympianESC-Workspace
